* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Noto Sans TC, sans-serif;
}

.navbar-container {
    width: 100%;
    height: 54px;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 99;
    position: fixed;
    top: 0;
    background-color: #ffffff;
}

.navbar {
    max-width: 1200px;
    width: 62.5%;
    height: 34px;
    top: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar > h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: #448899;
    width: 150px;
    height: 34px;
    margin: 0;
    cursor: pointer;
}

.navbar-lists{
    width: auto;
    display: flex;
}

.btn-arrow-left{
    padding: 9px 0px 9px 15px;
}

.btn-arrow-right{
    padding: 9px 15px 9px 0px;
}

.navbar-list {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    height: 34px;
    padding: 10px;
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-container{
    display: flex;
    width: 100%;
    height: 320px;
    margin-top: 54px;
    overflow: hidden;
    position: relative;
    text-align: center;
    justify-content: center;
    background-image: url("../static/img/welcome.png");
    background-size: cover;
    background-position: top;
}

.slogan-container {
    max-width: 1200px;
    width: 62.5%;
    height: 169px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 5;
    position: absolute;
    top:80px;
    text-align: start;
    flex-direction: column;
    justify-content: space-between;
}

.slogan{
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#slogan1{
    width: 100%;
    height: 41px;
    font-size: 28px;
    font-weight: 700;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px 0px #AABBCC;
}

#slogan2 {
    width: 100%;
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    color: #F8F8F8;
}

.search-container {
    width: 1180px;
    height: 46px;
    z-index: 100;
}

.search-bar {
    display: flex;
    width: 460px;
    height: 46px;
}

.search-input {
    font-size: 16px;
    font-weight: 700;
    width: 400px;
    height: 46px;
    border: none;
    border-radius: 5px 0 0 5px;
    padding-left: 15px;
    box-shadow: 0px 0px 20px 0px #AABBCC;
}

#search-img {
    width: 30px;
    height: 30px;
}

.btn-search {
    border: none;
    width: 60px;
    height: 46px;
    background-color: #448899;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-input:focus {
    outline: none;
    border: none; 
    font-size: 16px;
    font-weight: 700;
    color:#000000;
}

main {
    width: 100%;
    height: auto;
    padding: 40px 0px 40px 0px;
}

.list-bar {
    margin: auto;
    width: 62.5%;
    height: 70px;
    padding-bottom: 20px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.lists-container {
    padding: 13px 10px 13px 20px;
    display: flex;
    width: 100%;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.lists {
    display: flex;
}

.lists > li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px 15px 5px 15px;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #666666;
    cursor: pointer;
}

.arrow-container > button {
    background: none;
    border: none;
    height: 100%;
    cursor: pointer;
}

.attractions {
    width: 62.5%;
    display: flex;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.attraction {
    width: auto;
    height: 242px;
    margin: 15px;
    overflow: hidden;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.img-container {
    height: calc(100% - 45px);
    position: relative;
}

.img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container > p {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-container {
    height: 45px;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.text-container > p {
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-container > p:last-child {
    text-align: right;
}

footer {
    width: 100%;
    height: 104px;
    padding: 40px 0;  
    background: #757575;
    text-align: center;
    display: flex;
}

.footer-text {
    height: 24px;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.attraction-error {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    margin: 15px;
    width: 200%;
}

@media (min-width: 600px){
    .navbar {
        width: 90%;
    }
    .attractions {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
    .slogan-container {
        width: 90%;
    }
    .list-bar {
        width: 90%; 
    }
}

@media (min-width: 1000px){
    .navbar {
        width: 90%;
    }
    .attractions {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
    }
    .slogan-container {
        width: 90%;
    }
    .list-bar {
        width: 90%; 
    }
}

@media (min-width: 1200px) {
    .navbar {
        width: 1200px;
    }
    .slogan-container {
        width: 1200px;
    }
    .list-bar {
        width: 1200px;
    }
    .attractions {
        width: 1200px;
        grid-template-columns: repeat(4, 1fr);
    }
    .attraction {
        width: 270px;
        height: 242px;
    }
    
}

@media (max-width: 600px) {
    .welcome-container {
        background-size: cover;
        background-position: left center;
    }
    .navbar {
        width: 100%;
    }
    .navbar > h2 {
        margin-left: 10px;
    }
    .slogan-container {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .search-container {
        width: 100%;
    }

    .search-bar {
        display: flex;
        width: 285px;
        height: 46px;
    }
    
    .search-input {
        width: 225px;
        height: 46px;
    }
    
    #search-img {
        width: 30px;
        height: 30px;
    }
    
    .btn-search {
        width: 60px;
        height: 46px;
    }

    .list-bar {
        width: 100%;        
    }
    
    .attractions {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 4px;
        padding-right: 4px;
    }
    .attraction {
        margin-bottom: 0;
        height: 280px;
    }
}

@media (max-width: 360px) {
    header, main, footer {
        width: 360px;
    }
}


