<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='booking.css') }}">
</head>
<body>
    <header>
        {% include "signin_component.html" %}
        <div class="navbar-container">
            <div class="navbar">
                <h2 onclick="homePage()">台北一日遊</h2>
                <div class="navbar-lists">
                    <button class="navbar-list" id="booking">預定行程</button>
                    <button class="navbar-list" id="sign-up-in">登入/註冊</button>
                </div>
            </div>
        </div>
    </header>
    <hr id="hr-top">
    <main>
        <h2 class="information-title" id="hello_name"></h2>
        <div id="no-booking"></div>
        <div class="attraction-container">
            <div class="attraction-img"><img id="attraction-image"></div>
            <div class="attraction-information">
                <div class="attraction-title" id="attraction-title"></div>
                <div class="attraction-item">日期：<span id="attraction-date"></span></div>
                <div class="attraction-item">時間：<span id="attraction-time"></span></div>
                <div class="attraction-item">費用：<span id="attraction-price"></span></div>
                <div class="attraction-item">地點：<span id="attraction-address"></span></div>
                <div class="delete-icon"></div>
            </div>
        </div>
        <div id="all-information-containter">
            <hr class="information-hr">
            <div class="contact-information-container"> 
                <h2 class="information-title information-title-marginbtn20">您的聯絡資訊</h2>
                <div class="information-item">
                    <label for="name-input" class="form-subtitle">聯絡姓名：</label>
                    <input id="name-input" type="text" required>
                </div>
                <div class="information-item">
                    <label for="email-input" class="form-subtitle">聯絡信箱：</label>
                    <input id="email-input" type="text" required>
                </div>
                <div class="information-item">
                    <label for="phone-input" class="form-subtitle">手機號碼：</label>
                    <input id="phone-input" type="tel" value="" maxlength="10" required>
                </div>
                <div class="attention">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div> 
            </div>
            <hr class="information-hr">
            <div class="pay-information-container">
                <h2 class="information-title information-title-marginbtn20">信用卡付款資訊</h2>
                <div class="information-item">
                    <label for="card-number" class="form-subtitle">卡片號碼：</label>
                    <div class="tpfield" id="card-number"></div>
                </div>
                <div class="information-item">
                    <label for="card-expiration-date" class="form-subtitle">過期時間：</label>
                    <div class="tpfield" id="card-expiration-date"></div>
                </div>
                <div class="information-item">
                    <label for="card-ccv" class="form-subtitle">驗證密碼：</label>
                    <div class="tpfield" id="card-ccv"></div>
                </div>
            </div>
            <hr class="information-hr">
            <div class="check-container">
                <div class="check-price"></div>
                <button type="submit" id="submitButton">確認訂購並付款</button>
            </div>
        </div>
    </main>
    <footer>
        <p class="footer-text">COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/member.js') }}"></script>
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <script>
        TPDirect.setupSDK(137050, 'app_oiBcoG23ZSD7mn2WzySe81r8PFLe7O6N7dcRHmS3hlhExHOLE0YuOJsuVKND', 'sandbox')

        let fields = {
            number: {
                element: '#card-number',
                placeholder: '**** **** **** ****'
            },
            expirationDate: {
                element: document.getElementById('card-expiration-date'),
                placeholder: 'MM / YY'
            },
            ccv: {
                element: '#card-ccv',
                placeholder: 'CVV'
            }
        }

        TPDirect.card.setup({
            fields: fields,
            styles: {
                'input': {
                    'color': 'gray',
                    'font-size': '16px',
                    'font-weight': '500',
                    'color': '#000000'
                },
                ':focus': {
                    'color': 'black',
                },
                '.valid': {
                    'color': 'black'
                },
                '.invalid': {
                    'color': 'red'
                },
            },
            isMaskCreditCardNumber: true,
            maskCreditCardNumberRange: {
                beginIndex: 6, 
                endIndex: 11
            }
        })
        
        TPDirect.card.onUpdate(function (update) {
            if (update.canGetPrime) {
                document.getElementById('submitButton').removeAttribute('disabled')
            } else {
                document.getElementById('submitButton').setAttribute('disabled', true);
            }
        });

        document.querySelector('#submitButton').addEventListener('click', onSubmit)
        function onSubmit(event) {
            event.preventDefault();
            let phoneInput = document.getElementById("phone-input").value;
            let phoneRegex = /^0\d{9}$/;
            if (phoneRegex.test(phoneInput) === false) {
                alert("手機號碼格式錯誤");
                return;
            }
            const tappayStatus = TPDirect.card.getTappayFieldsStatus();
            if (tappayStatus.canGetPrime === false) {
                alert('信用卡資訊錯誤，請確認後重試。');
                return;
            }
            TPDirect.card.getPrime((result) => {
                if (result.status !== 0) {
                    console.error('get prime error ' + result.msg);
                    return;
                }
                let nameValue = document.getElementById("name-input").value;
                let emailValue = document.getElementById("email-input").value;
                let phoneValue = document.getElementById("phone-input").value;
                fetch("/api/booking", {
                    method: "GET",
                    headers: {
                        "Authorization": `Bearer ${token}`,
                    },
                })
                .then(response => {
                if (response.status === 200){
                    return response.json()
                .then(data => {
                        let attractionId = data.data.attraction.id;
                        let attractionName = data.data.attraction.name;
                        let attractionAddress = data.data.attraction.address;
                        let attractionImage = data.data.attraction.image;
                        let bookingPrice = data.data.price
                        let bookingDate = data.data.date;
                        let bookingTime = data.data.time;
                        const requestData = {
                            "prime": result.card.prime,
                            "order": {
                                "price": bookingPrice,
                                "trip": {
                                "attraction": {
                                    "id": attractionId,
                                    "name": attractionName,
                                    "address": attractionAddress,
                                    "image": attractionImage
                                },
                                "date": bookingDate,
                                "time": bookingTime
                                },
                                "contact": {
                                    "name": nameValue,
                                    "email": emailValue,
                                    "phone": phoneValue
                                }
                            }
                        };
                        return requestData;
                    }
                )}
                })
                .then(requestData => {
                    fetch("/api/orders", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${token}`
                        },
                        body: JSON.stringify(requestData)
                    })
                    .then(response => {
                        if (response.status === 200){
                            return response.json()
                        } else {
                            alert("")
                            return
                        }
                    })
                    .then(data => {
                        let order_number = data.data.number;
                        let payment_status = data.data.payment.status;
                        if(payment_status === 0){
                            fetch("/api/booking", {
                                method: "DELETE",
                                headers: {
                                    "Authorization": `Bearer ${token}`,
                                },
                            })
                            .then(()=> {
                                window.location.href = `/thankyou?number=${order_number}`;
                            })
                        } else {
                            alert("付款失敗，請重新再試");
                        }
                    })
                })
            })
        }

        let token = localStorage.getItem("token");
        let nameDiv = document.getElementById("hello_name");
        let nameInput = document.getElementById("name-input");
        let emailInput = document.getElementById("email-input");
        if(token){
            fetch("/api/user/auth", {
                method: "GET",
                headers: {
                    "Authorization": `Bearer ${token}`,
                },
            })
            .then(response => {
                if (response.status === 200) {
                    return response.json().then(data => {
                        if (data.data == null) {
                            window.location.href = "/";
                        } else {
                            nameDiv.innerHTML = "您好，" + data.data.name + "，待預訂的行程如下：";
                            nameInput.value = data.data.name;
                            emailInput.value =data.data.email;
                        }
                    });
                }
            })
            fetch("/api/booking", {
                method: "GET",
                headers: {
                    "Authorization": `Bearer ${token}`,
                },
            })
            .then(response => {
                if (response.status === 200){
                    let attractionTitle = document.getElementById("attraction-title");
                    let attractionDate = document.getElementById("attraction-date");
                    let attractionPrice = document.getElementById("attraction-price");
                    let attractionAddress = document.getElementById("attraction-address");
                    let attractionTime = document.getElementById("attraction-time");
                    let attractionImage = document.getElementById("attraction-image");
                    let allInformationContainter = document.getElementById("all-information-containter");
                    let attractionContainer = document.querySelector(".attraction-container");
                    let noBooking = document.getElementById("no-booking");
                    let checkPrice = document.querySelector(".check-price");
                    return response.json().then(data => {
                    if (data.data == null) {
                        allInformationContainter.innerHTML = "";
                        attractionContainer.innerHTML = "";
                        attractionContainer.style.display= "none";
                        noBooking.innerHTML = "目前沒有任何待預訂的行程";
                        noBooking.style.display = "flex";
                    } else {
                        noBooking.style.display = "none";
                        attractionDate.innerHTML = data.data.date;
                        attractionPrice.innerHTML =  "新台幣"+ data.data.price + "元";
                        attractionAddress.innerHTML = data.data.attraction.address;
                        let exactTime;
                        if(data.data.time === "morning"){
                            exactTime = "早上 9 點到下午 4 點";
                        } else {
                            exactTime = "下午 1 點到晚上 8 點"
                        }
                        attractionTime.innerHTML = exactTime;
                        attractionTitle.innerHTML = data.data.attraction.name;
                        attractionImage.src = data.data.attraction.image;
                        checkPrice.innerHTML = "總價：新台幣 " + data.data.price + " 元"
                    }
                })}
            })
        }
        else {
            window.location.href = "/";
        }
        let deleteIcon = document.querySelector(".delete-icon");
        deleteIcon.addEventListener("click", () => {
            fetch("/api/booking", {
                method: "DELETE",
                headers: {
                    "Authorization": `Bearer ${token}`,
                },
            })
            .then(response => {
                if (response.ok) {
                location.reload();
                } else {
                console.error("刪除失敗");
                }
            })
        })
    </script>
</body>
</html>