<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/booking.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='booking.css') }}">
</head>
<body>
    <header>
        <div class="navbar-container">
            <div class="navbar">
                <h2>台北一日遊</h2>
                <div class="navbar-lists">
                    <button class="navbar-list" id="booking">預定行程</button>
                    <button class="navbar-list" id="sign-up-in">登入/註冊</button>
                </div>
            </div>
        </div>
    </header>
    <hr id="hr-top">
    <main>
    </main>
    <footer>
        <p class="footer-text">COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    <script>
    </script>
</body>
</html>