<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <div class="navbar-container">
            <div class="navbar">
                <h2 onclick="homePage()">台北一日遊</h2>
                <div class="navbar-lists">
                    <button class="navbar-list" id="booking">預定行程</button>
                    <button class="navbar-list" id="sign-up-in">登入/註冊</button>
                </div>
            </div>
        </div>
        <div class="welcome-container">
            <div class="slogan-container">
                <div class="slogan">
                    <h1 id="slogan1">輕鬆享受台北一日悠閒</h1>
                    <p id="slogan2">探索每個角落，體驗城市的深度旅遊行程</p>
                </div>
                <div class="search-container">
                    <div class="search-bar">
                        <input class="search-input" type="text" placeholder="輸入景點名稱查詢">
                        <button class="btn-search"><img id="icon-search" id="search-img" src="../static/img/icon_search.png" alt="查詢"></img></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="sign-container" id="signin-container" style="display: none;">
            <div class="sign-in">
                <div class="decorator-bar"></div>
                <div class="close-container" id="btn-signin-close">
                    <img src="../static/img/icon_close.png" />
                </div>
                <div class="sign-in-text-container" >
                    <h3>登入會員帳號</h3>
                    <input class="sign-in-input" placeholder="輸入電子信箱">
                    <input class="sign-in-input" placeholder="輸入密碼">
                    <button class="sign-in-submit">登入帳戶</button>
                    <p class="change-signupin" id="sign-in-to-sign-up">還沒有帳戶？點此註冊</p>
                </div>
            </div>
        </div>
        <div class="sign-container" id="signup-container" style="display: none;">
            <div class="sign-up">
                <div class="decorator-bar"></div>
                <div class="close-container" id="btn-signup-close">
                    <img src="../static/img/icon_close.png" />
                </div>
                <div class="sign-in-text-container">
                    <h3>註冊會員帳號</h3>
                    <input class="sign-in-input" placeholder="輸入姓名">
                    <input class="sign-in-input" placeholder="輸入電子郵件">
                    <input class="sign-in-input" placeholder="輸入密碼">
                    <button class="sign-in-submit">註冊新帳戶</button>
                    <p class="change-signupin" id="sign-up-to-sign-in">已經有帳戶了？點此登入</p>
                </div>
            </div>
        </div>
        <div class="list-bar">
            <div class="arrow-container">
                <button class="btn-arrow-left" onmouseover="changeImage_left(this)" onmouseout="restoreImage_left(this)">
                    <img id="img-arrow-left" src="../static/img/leftDefault.png" alt="←"></img>
                </button>
            </div>
            <div class="lists-container">
                <ul class="lists">
                </ul>
            </div>
            <div class="arrow-container">
                <button class="btn-arrow-right" onmouseover="changeImage_right(this)" onmouseout="restoreImage_right(this)">
                    <img id="img-arrow-right" src="../static/img/rightDefault.png" alt="→"></img>
                </button>
            </div>
        </div>
        <div class="attractions">
        </div>
    </main>
    <footer>
        <p class="footer-text">COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    <script>
        const currentURL = window.location.href;

        // Lists Scrool
        let buttonRight = document.querySelector(".btn-arrow-right");
        let buttonLeft = document.querySelector(".btn-arrow-left");
        let lists = document.querySelector(".lists");
        let listsContainer = document.querySelector(".lists-container");
        let scrollWidth = 0.9 * listsContainer.offsetWidth;

        buttonRight.addEventListener("click", () => {
            listsContainer.scrollLeft += scrollWidth;
        });
        buttonLeft.addEventListener("click", () => {
            listsContainer.scrollLeft -= scrollWidth;
        });
        window.addEventListener("resize", () => {
            scrollWidth = 0.9 * listsContainer.offsetWidth;
        });
        function changeImage_left(button) {
            const img = button.querySelector("img");
            img.src = "../static/img/leftHovered.png";
        }
        function restoreImage_left(button) {
            const img = button.querySelector("img");
            img.src = "../static/img/leftDefault.png";
        }
        function changeImage_right(button) {
            const img = button.querySelector("img");
            img.src = "../static/img/rightHovered.png";
        }
        function restoreImage_right(button) {
            const img = button.querySelector("img");
            img.src = "../static/img/rightDefault.png";
        }
        function createList(){
            let url = currentURL + "api/mrts";
            fetch(url)
            .then(response => {
                return response.json();
            })
            .then(data => {
                for (let i=0; i < data["data"].length; i++){
                    let lists = document.querySelector(".lists");
                    let list = document.createElement("li");
                    list.textContent = data["data"][i];
                    if(list.textContent !== ""){
                        lists.appendChild(list);
                    }
                }
            });
        }
        createList();

        //Create Attraction Div
        function createAttraction(page, query){
            return new Promise((resolve, reject) => {
            let url;
            if(query) {
                url= currentURL + "api/attractions?page=" + page + "&keyword=" + query;
            } else {
                url= currentURL + "api/attractions?page=" + page;
            }
            
            fetch(url)
            .then(response => {
                return response.json();
            })
            .then(data => {
                for (let i=0; i < data["data"].length; i++){
                    let attractions = document.querySelector(".attractions");
                    let attraction = document.createElement("div");
                    attraction.className = "attraction"; 
                    attraction.style.cursor = "pointer";
                    let id = data["data"][i]["id"];
                    attraction.onclick = function() {
                        window.location.href = "/attraction/" + id;
                    };
                    attractions.appendChild(attraction);
                    let imgContainer = document.createElement("div");
                    imgContainer.className = "img-container"; 
                    attraction.appendChild(imgContainer);
                    let image = document.createElement("img");
                    image.src = data["data"][i]["images"][0];
                    imgContainer.appendChild(image);
                    let name = document.createElement("p");
                    name.textContent = data["data"][i]["name"];
                    imgContainer.appendChild(name);
                    let textContainer = document.createElement("div");
                    textContainer.className = "text-container"; 
                    attraction.appendChild(textContainer);
                    let mrt =  document.createElement("p");
                    mrt.textContent = data["data"][i]["mrt"];
                    textContainer.appendChild(mrt);
                    let category =  document.createElement("p");
                    category.textContent = data["data"][i]["category"];
                    textContainer.appendChild(category);
                }
                const result = { nextPage: data["nextPage"], query: query };
                resolve(result);
            })
            .catch(error => {
                reject(error);
            });
        });
        }

        //Infinite Scroll
        let nextPage;
        let count = 1;
        let query;
        createAttraction(0)
        .then(result => {
            nextPage = result.nextPage;
            query = result.query;
        })

        const callback = (entries) => {
            if (entries[0].isIntersecting  &&  nextPage && count === nextPage && !query) {
                createAttraction(nextPage)
                .then((result => {
                    nextPage = result.nextPage;
                    query = result.query;
                }));
                count += 1;
            } else if (entries[0].isIntersecting  &&  nextPage && count === nextPage && query){
                createAttraction(nextPage, query)
                .then((result => {
                    nextPage = result.nextPage;
                    query = result.query;
                }));
                count += 1;
            }
        };
        const options = {
        root: null,
        rootMargin: "0px",
        threshold: 0,
        };
        const observer = new IntersectionObserver(callback, options);
        let element = document.querySelector("footer");
        observer.observe(element);
        
        //Keyword Search
        let searchInput = document.querySelector(".search-input");
        let submitButton = document.querySelector(".btn-search");
        submitButton.addEventListener("click", function() {
            nextPage = submitSearch();
        });
        searchInput.addEventListener("keydown", function(event) {
            if (event.key === "Enter"){
                nextPage = submitSearch();
            }
        });
        function submitSearch() {
            let querySearch = searchInput.value;
            let url= currentURL + `api/attractions?page=0&keyword=${querySearch}`;
            let attractions = document.querySelector(".attractions");
            attractions.innerHTML="";
            observer.unobserve(element);
            createAttraction(0, querySearch)
            .then(result => {
                nextPage = result.nextPage;
                query = result.query;
                count = 1;
            })
            .then(() => {
                observer.observe(element);
            })
            .catch(error => {
                let attractions = document.querySelector(".attractions");
                let attractionError = document.createElement("div");
                attractionError.className = "attraction-error"; 
                attractionError.textContent = "查無景點資料，請重新查詢。";
                attractions.appendChild(attractionError);
            });
        }

        let mrtList = document.querySelector(".lists");
        mrtList.addEventListener("click", (event) => {
            searchInput.value = event.target.textContent;
            nextPage = submitSearch();
        });

        function homePage(){
            window.location.href = "/";
        }

        // Sing In / Sing Up
        let btnSignupClose = document.getElementById("btn-signup-close");
        let containerSignup = document.getElementById("signup-container");
        btnSignupClose.addEventListener("click", () => {
            containerSignup.style.display = "none";
        })
        let btnSigninClose = document.getElementById("btn-signin-close");
        let containerSignin = document.getElementById("signin-container");
        btnSigninClose.addEventListener("click", () => {
            containerSignin.style.display = "none";
        })
        let btnToSingupSingin = document.getElementById("sign-up-in");
        btnToSingupSingin.addEventListener("click", () => {
            containerSignin.style.display = "flex";
        })

        let btnSignInToSignUp = document.getElementById("sign-in-to-sign-up");
        btnSignInToSignUp.addEventListener("click", () => {
            containerSignin.style.display = "none";
            containerSignup.style.display = "flex";
        })

        let btnSignUpToSignIn = document.getElementById("sign-up-to-sign-in");
        btnSignUpToSignIn.addEventListener("click", () => {
            containerSignup.style.display = "none";
            containerSignin.style.display = "flex";
        })
</script>
</body>
</html>